@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all
     duration-300 rounded-full 
    group-hover:border
     group-hover:border-gray-500
     dark:group-hover:border-gray-600
     bg-white
     dark:bg-gray-800 
    px-4 py-2 text-sm
     text-gray-700
     dark:text-gray-300 
    focus:outline-none 
    focus:ring-2
     focus:ring-blue-500 
    focus:border-transparent;
  }
}
